section#content_holder

	link(rel='stylesheet', href='/css/programs.css')
	script(type='text/javascript', src='/js/lib/jquery.min.js')
	script(type='text/javascript', src='/js/lib/underscore.js')
	script(type='text/javascript', src='/js/lib/backbone.js')
	script(type='text/javascript', src='/js/views/programs.js')
	script(type='text/template', id='program_view')
		h2 <%= name %>
		#split_holder
	script(type='text/template', id='split_view')
		article
			p <%= name %>
			.workout_table
	script(type='text/template', id='weight_view')
		table(style='padding:0px')
			tr
				| <td class='workout_exercise' rowspan= <%= sets.length %> > <%= name %></td>
				| <td class='workout_comment' rowspan= <%= sets.length %> > <%= comment %></td>
			tr.table_break
				td(style='padding-top:10px')
	script(type='text/template', id='set_view')
		tr
			td.workout_set <%= weight %><%= lbkg %> x <%= rep %> (<%= set%> <%if(set==1){%>set<%}else{%>sets<%}%>)
	script(type='text/template', id='set_view_first')
		td.workout_set <%= weight %><%= lbkg %> x <%= rep %> (<%= set %> <%if(set==1){%>set<%}else{%>sets<%}%>)
	script(type='text/tempalte', id='button_view')
		#button_container
			.delete
			.edit

	script(type='text/template', id='nav_view')
		li(pid='3', class='selected')
			span(class='star program_select')
			a
				p <%=name%>
	
	