article#program(style='margin-top:20px') 

block scripts
	script(type='text/javascript', src='/js/jquery.min.js')
	script(type='text/javascript', src='/js/underscore.js')
	script(type='text/javascript', src='/js/backbone.js')
	script(type='text/template', id='program_view')
		p#program_name Summer 2012 workout program
		article(style='margin-top:20px')
			p(style='font-size:24px;margin:10px 0px 10px 20px') Chest
			table.workout_table
				tr
					td.workout_exercise(rowspan='2') Incline bench press
					td.workout_set 150lbs x 3 (2 sets)
					td.workout_comment(rowspan='2') Can definitely increase weight next time
				tr
					td 160lbs x 3 (1 set)
				tr
					td(style='padding-top:10px')
				tr
					td.workout_exercise(rowspan='2') Flat bench press
					td.workout_set 175lbs x 3 (3 sets)
				
				tr
					td(style='padding-top:10px')
				tr
					td.workout_exercise(rowspan='2') Barbell row
					td.workout_set 180lbs x 5 (3 sets)
				
				tr
					td(style='padding-top:10px')	
				tr
					td.workout_exercise(rowspan='2') Weighted pull ups
					td.workout_set 60lbs x 8 (2 sets)
					td.workout_comment(rowspan='2')
				tr
					td 45lbs x 7 (1 set)

		article(style='margin-top:20px')
			p(style='font-size:24px;margin:10px 0px 10px 20px') Shoulder
			table.workout_table
				tr
					td.workout_exercise(rowspan='2') Seated Shoulder Press
					td.workout_set 105lbs x 6 (3 sets)
				
				tr
					td(style='padding-top:10px')
				tr
					td.workout_exercise Dumbbell press
					td.workout_set 45lbs x 6 (2 sets)
				tr
					td(style='padding-top:10px')
				tr
					td.workout_exercise(rowspan='2') Lateral raises
					td.workout_set 25lbs x 6 (2 sets)
					td.workout_comment(rowspan='2') Hurt my wrist during this exercise
				tr
					td 10lbs x 5 (1 set)
				tr
					td(style='padding-top:10px')	
				tr
					td.workout_exercise(rowspan='2') Barbell front raise
					td.workout_set 50lbs x 6 (2 sets)
					td.workout_comment(rowspan='2')

	script(type='text/javascript', src='/js/views/program/view.js')