section#content_holder

link(rel='stylesheet', href='/assets/stylesheets/programs.css')
script(type='text/template', id='program_view')
	.program_name
		h2 <%= name %>
		| <input type='text' class='paper_input' value='<%= name %>' placeholder='Program name' />
	#split_holder
	.new_split
		input(type='text', placeholder='New split').paper_input.new_split_name
		input(type='button', value='create split').new_split_submit
script(type='text/template', id='split_view')
	article
		.split_name
			p <%= name %>
			| <input type='text' class='paper_input' value='<%= name %>', placeholder='Split name' />
		.workout_table
		.new_exercise
			input(type='text', placeholder='New exercise').paper_input.new_exercise_name
script(type='text/template', id='weight_view')
	table(style='padding:0px')
		tr
			| <td class='workout_exercise' rowspan= <%= sets.length %> > <%= name %></td>
			| <td class='workout_comment' rowspan= <%= sets.length %> > <%= comment %></td>
		tr.table_break
			td(style='padding-top:10px')
script(type='text/template', id='set_view')
	tr
		td.workout_set <%= weight %><%= lbkg %> x <%= rep %> (<%= set%> <%if(set==1){%>set<%}else{%>sets<%}%>)
script(type='text/template', id='set_view_first')
	td.workout_set <%= weight %><%= lbkg %> x <%= rep %> (<%= set %> <%if(set==1){%>set<%}else{%>sets<%}%>)
script(type='text/tempalte', id='button_view')
	#button_container
		.delete
		.edit
	
	