article#content_holder(style='margin-top:20px') 


	<script type='text/javascript' src='/js/lib/jquery.min.js'></script>
	<script type='text/javascript' src='/js/lib/underscore.js'></script>
	<script type='text/javascript' src='/js/lib/backbone.js'></script>
	<script type='text/javascript' src='/js/views/programs/view.js'></script>
	script(type='text/template', id='program_view')
		p#program_name <%= name %>
		div#split_holder
	script(type='text/template', id='split_view')
		article(style='margin-top:20px')
			p(style='font-size:24px;margin:10px 0px 10px 20px') <%= name %>
			table.workout_table
	script(type='text/template', id='weight_view')
		table(style='padding:0px')
			tr
				| <td class='workout_exercise' rowspan= <%= sets.length %> > <%= name %></td>
				| <td class='workout_comment' rowspan= <%= sets.length %> > <%= comment %></td>
			tr.table_break
				td(style='padding-top:10px')
	script(type='text/template', id='set_views')
		tr
			td.workout_set <%= weight %><%= lbkg %> x <%= rep %> (<%= set%> <%if(set==1){%>set<%}else{%>sets<%}%>)
	script(type='text/template', id='set_view')
		td.workout_set <%= weight %><%= lbkg %> x <%= rep %> (<%= set %> <%if(set==1){%>set<%}else{%>sets<%}%>)
	script(type='text/tempalte', id='button_view')
		#button_container
			#program_delete
			#program_edit

	script(type='text/template', id='nav_view')
		div
			span
			a
				p <%=name%>
	
		//- | <div pid=<%=id%> <%if(selected){%>class='selected'<%}%>

		//- echo "<div pid='".$p['id']."'";
		//- if($p['id'] === $program_id)
		//- 	echo " class='selected'";
		//- echo "><span class='";
		//- if($isOwner)
		//- 	echo "star";
		//- if($main_program === $p['id'])
		//- 	echo " program_select";
		//- echo "'></span><a href='program.php?id=".$p['id']."'><p>".$p['name']."</p></a></div>";