!!! 5
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/assets/stylesheets/app.css')
        link(rel='stylesheet', href='/assets/stylesheets/index.css')
        title trackCraze
    body.index_container
        .background_photo
        h1 trackCraze
        center
            a(href='/auth/facebook')
                img(src='/assets/images/get_started.png')
        .footer
            center
                //- p a simple workout tracking application
                p#description
            ul.links
                li
                    a(href='/about') about
                li
                    © 2012 trackCraze

    script(type='text/javascript', src='/assets/lib/jquery.min.js')
    script
        var descriptions = ["Create custom workout programs", "Record your workouts", "Track your progress",  "Monitor your goals", "Post snapshots at the gym", "Connect with your friends"];
        var desc_counter = 0;
        $("#description").text(descriptions[0]);
        next_description = function() {
            $("#description").fadeOut(function(){
                if(desc_counter < descriptions.length-1)
                    desc_counter ++;
                else
                    desc_counter = 0;
                $(this).text(descriptions[desc_counter]);
            }).fadeIn(function(){
                window.setTimeout(next_description, 2500);
            });
        };
        $(document).ready(function(){
            window.setTimeout(next_description, 2500);
        });

        
