section#content_holder
link(rel='stylesheet', href='/assets/stylesheets/programs.css')
script(type='text/template', id='program_view')
	section
		.program_name
			h2 <%= name %>
			| <input type='text' class='paper_input' value='<%= name %>' placeholder='Program name' />
		#split_holder
		.new_split
			input(type='text', placeholder='New split').paper_input.new_split_name
			input(type='button', value='create split').new_split_submit
			input(type='button', value='save').save_program
script(type='text/template', id='split_view')
	article
		.split_name
			p <%= name %>
			| <input type='text' class='paper_input' value='<%= name %>', placeholder='Split name' />
		.workout_table
		.new_exercise
			.new_exercise_name
				input(type='text', placeholder='New exercise').paper_input.exercise_name
			.set_edit
				input(type='text', placeholder='150').paper_input.set_weight_edit.new_set_weight
				select.paper_select.set_lbkg_edit.new_set_lbkg
					option lbs
					option kg
				span x
				input(type='text', maxlength='2', value='', placeholder='5').paper_input.set_rep_edit.new_set_rep
				input(type='text', maxlength='2', value='1', placeholder='1').paper_input.set_set_edit.new_set_set
				span set
				input(type='button', value='+').new_exercise_submit
script(type='text/template', id='weight_view')
	table(style='padding:0px')
		tr.
			<td class='workout_exercise' rowspan= <%= sets.length %> >
				<span><%= name %></span>
				<input type='text' class='paper_input exercise_name' placeholder='exercise name' value='<%= name %>'/>
			</td>
			<td class='workout_comment' rowspan= <%= sets.length %> > <%= comment %></td>
		tr.table_break
			td(style='padding-top:10px')
script(type='text/template', id='set_view')
	tr
		td.workout_set
			span <%= weight %> <%= lbkg %> x <%= rep %> (<%= set%> <%if(set==1){%>set<%}else{%>sets<%}%>)
			.set_edit
				| <input type='text' class='paper_input set_weight_edit' value='<%= weight %>'/>
				select.paper_select.set_lbkg_edit
					option lbs 
					<% if(lbkg=='kg'){%> <option selected>kg</option> <% }else{ %> <option>kg</option> <% } %>
				span x
				| <input type='text' class='paper_input set_rep_edit' maxlength='2' value='<%= rep %>' />
				| <input type='text' class='paper_input set_set_edit' maxlength='2' value='<%= set %>' />
				| <span>set<%if(set!=1){%>s<%}%></span>
script(type='text/template', id='set_view_first')
	td.workout_set 
		span <%= weight %> <%= lbkg %> x <%= rep %> (<%= set %> <%if(set==1){%>set<%}else{%>sets<%}%>)
		.set_edit
			| <input type='text' class='paper_input set_weight_edit' value='<%= weight %>'/>
			select.paper_select.set_lbkg_edit
				option lbs 
				<% if(lbkg=='kg'){%> <option selected>kg</option> <% }else{ %> <option>kg</option> <% } %>
			span x
			| <input type='text' class='paper_input set_rep_edit' maxlength='2' value='<%= rep %>' />
			| <input type='text' class='paper_input set_set_edit' maxlength='2' value='<%= set %>' />
			| <span>set<%if(set!=1){%>s<%}%></span>
script(type='text/tempalte', id='button_view')
	#button_container
		.delete
		.edit
	
	