article(style='margin-top:20px')
		p(style='font-size:24px;margin:10px 0px 10px 20px') Shoulder
		table.workout_table
			tr
				td.workout_exercise(rowspan='2') Seated Shoulder Press
				td.workout_set 105lbs x 6 (3 sets)
			
			tr
				td(style='padding-top:10px')
			tr
				td.workout_exercise Dumbbell press
				td.workout_set 45lbs x 6 (2 sets)
			tr
				td(style='padding-top:10px')
			tr
				td.workout_exercise(rowspan='2') Lateral raises
				td.workout_set 25lbs x 6 (2 sets)
				td.workout_comment(rowspan='2') Hurt my wrist during this exercise
			tr
				td 10lbs x 5 (1 set)
			tr
				td(style='padding-top:10px')	
			tr
				td.workout_exercise(rowspan='2') Barbell front raise
				td.workout_set 50lbs x 6 (2 sets)
				td.workout_comment(rowspan='2')