
@import 'nib'

@font-face
    font-family Museo
    font-style normal
    src: url('/assets/fonts/MuseoSans_500.otf')

textColor = black
secondaryColor = #AAA
paperColor = #F0F0F0
paperSecondaryColor = #EAEAEA
mainSize = 16px
subSize = 12px

*
    box-sizing border-box

html, body
    height 100%
    width 100%

body
    color textColor
    font-family Museo
    font-size mainSize
    margin 0px
    padding 0px
    text-rendering optimizeLegibility
    background-attachment fixed

p, ol, ul, td
    font-size mainSize
    line-height: 18px
    margin 0px
    padding 0px

ul, ol
    list-style-type none

a
    cursor pointer

label
    cursor pointer


input[type=text]
    font-family Museo
    width 280px
    height 40px
    padding 0px 10px
    font-size mainSize
    border none
    border-radius 5px
    border-top 1px solid rgba(0,0,0,0.5)
    border-bottom 1px solid rgba(0,0,0,0.3)

input[type=button]
    margin-top 0px
    padding 8px 10px 12px
    font-size mainSize
    border-radius 5px
    border-bottom 1px solid rgba(0,0,0,0.5)
    border-top 1px solid rgba(0,0,0,0.1)
    border-right 1px solid rgba(0,0,0,0.3)
    border-left 1px solid rgba(0,0,0,0.3)
    color lighten(textColor, 40)
    font-weight bold
    outline none
    background linear-gradient(top, paperSecondaryColor, darken(paperSecondaryColor, 2))
    box-shadow 0px -1px 1px 1px rgba(0,0,0,0.3) inset
    text-shadow white 0px 1px 0px
    &:hover
        color lighten(textColor, 35)
        background linear-gradient(top, darken(paperSecondaryColor, 4), darken(paperSecondaryColor, 6))
        cursor pointer
    &:active
        margin-top 1px
        padding 9px 10px 11px
        color lighten(textColor, 30)
        background linear-gradient(top, darken(paperSecondaryColor, 7), darken(paperSecondaryColor, 5))
        border-top none
        border-bottom 1px solid rgba(0,0,0,0.1)
        box-shadow 0px 0px 1px 1px rgba(0,0,0,0.3) inset

textarea
    font-family Museo
    font-size mainSize
    resize none
