
@import 'nib'
@import 'default'


.program_name
    margin 25px 0px 10px 20px
    
    h2
        font-size 28px 
        text-shadow rgba(0,0,0,0.2) 1px 1px 1px
        font-weight normal

    input
        display none
        font-size 28px
        width 550px

    &.edit
        h2
            display none
        input
            display block


#split_holder
    article
        clear both
        margin-top 20px

        .split_name
            margin 10px 0px 10px 20px
            
            p
                font-size 24px

            input
                display none
                font-size 24px
                width 300px
            &.edit
                p
                    display none
                input
                    display block

.new_split
    clear both
    margin 20px
    display none
    .new_split_name
        float left
        font-size 24px
        width 300px
        margin-right 15px
        margin-bottom 10px
    .new_split_submit
        float left
        width 120px
        relative: top -1px
    &.edit
        display block

input.exercise_name
    font-size mainSize
    width 240px

.new_exercise
    .new_exercise_name, .set_edit
        display none
    &.edit
        .new_exercise_name
            display block
            float left
            margin 20px
            margin-left 27px
            input
                margin-bottom 20px
        .set_edit
            display block
            .new_set_set
                margin-left 20px


.set_edit
    float left
    position relative
    margin 20px 0px
    .set_weight_edit
        font-size mainSize
        width 110px
        padding-right 50px
        margin-right 10px
    .set_lbkg_edit
        width 40px
        padding-left 8px
        absolute: top 2px left 66px
    .set_rep_edit
        margin 0px 10px
        width 40px
        text-align center
        font-size mainSize
    .set_set_edit
        margin-left 15px
        margin-right 10px
        width 40px
        border-radius 20px
        text-align center
    .new_set_submit
        margin-left 20px

.workout_set
    width 150px
    .set_edit
        display none
    &.edit
        width 350px
        padding-left 13px
        span
            display none
        .set_edit
            margin 0px
            display block
            span
                display inline-block


.workout_table
    margin 0px 20px
    td
        vertical-align top
        padding 5px

.workout_exercise
    width 250px
    input
        display none
    &.edit
        span
            display none
        input
            display block

.workout_comment
    color secondaryColor
    &.edit
        display none

#button_container
    background url("/assets/images/buttons_bg.png")
    z-index 3
    width 36px
    height 61px
    absolute: top 310px right 50%
    margin-right -476px

    &.fixed
        fixed: top 10px

    .delete
        background url('/assets/images/delete.png')
        margin-left 2px
        height 31px
        width 31px
        &:hover
            cursor pointer
            background url("/assets/images/delete_hover.png")

    .edit
        margin-left 7px
        margin-top -1px 
        background url('/assets/images/edit.png')
        height 22px
        width 22px
        &:hover
            cursor pointer
            background url("/assets/images/edit_hover.png")
